[submodule "lvmc-dspic33ck256mp508-an957/bldc.X/library-x2cscope"]
	path = lvmc-dspic33ck256mp508-an957/bldc.X/library-x2cscope
	url = https://bitbucket.microchip.com/scm/mcu16ce/library-x2cscope.git
	branch = tag-2.2.0
[submodule "lvmc-dspic33ck256mp508-an957/bldc.X/library-motor"]
	path = lvmc-dspic33ck256mp508-an957/bldc.X/library-motor
	url = https://bitbucket.microchip.com/scm/mcu16ce/library-motor.git
	branch = motor_lib-124
